<ul>
  <li>Explore</li> 
  <ul>
    <li><%= link_to "users", users_path %></li>
    <li><%= link_to "bands", bands_path %></li>
  </ul>
  <% if user_signed_in? %>
    <li><%= link_to current_user.name, show_user_path(current_user) %></li>
    <%= render "users/menu" %>
    <li>
      <%= link_to "logout", destroy_user_session_path, :method => :delete %>
    </li>
  <% else %>
    <li><%= link_to 'login', new_user_session_path %></li>
    <li><%= link_to 'sign up', new_user_registration_path %></li>
  <% end %>
</ul>
