<div class="topbar navbar navbar-fixed-top">
  <div class="navbar-inner">
  <div class="container">
 
    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    
    <!-- Be sure to leave the brand out there if you want it shown -->
    <a class="brand" href="/">CLAW</a>
    <ul class="nav">
      <li <%= "class='active'" if current_page?(users_path) %>>
        <%= link_to "artists", users_path %>
      </li>
      <li <%= "class='active'" if current_page?(bands_path) %>>
        <%= link_to "bands", bands_path %>
      </li>
    </ul>
    <!-- Everything you want hidden at 940px or less, place within here -->
    <div class="nav-collapse">
      <!-- .nav, .navbar-search, .navbar-form, etc -->
      <ul class="nav pull-right">
        <% if user_signed_in? %>
          <%= render "shared/user_menu" %>
        <% else %>
        <li <%= "class='active'" if current_page?(new_user_session_path) %>>
          <%= link_to 'login', new_user_session_path %>
        </li>
        <li <%= "class='active'" if current_page?(new_user_registration_path) %>>
          <%= link_to 'sign up', new_user_registration_path %>
        </li>
        <% end %>
      </ul>
    </div>
    
  </div>
  </div>
</div>
