<h1>Songs</h1>
<%= link_to "Create a new song", new_song_version_path, :class => "btn btn-primary btn-large" %>

<ul>
  <% current_user.received_requests.each do |request| %>
    <% if request._type == "SongVersionSharingRequest" %>
    <li>
      <%= link_to request.sender.name, request.sender %> 
      wants to share a song with you
      <%= link_to "accept", accept_request_path(request), :method => :put %>
    </li>
    <% end %>
  <% end %>  
</ul>

<table class="table table-hover table-condensed">
  <tr><th>owner</th><th></th><th>last update</th><th>created at</th><th></th></tr>
  <% @songs.each do |song| %>
    <tr class="info">
      <td>
        <%= current_user == song.user ? "me" : song.user.name %>
      </td>
      <td>
        <%= link_to "New empty version", 
            new_song_version_path(:song_version => {:song_id => song.id}),
            :class => "btn btn-small"
        %>
      </td>
      <td>
      </td>
      <td>
        <%= song.created_at.strftime "%Y-%m-%d at %H:%M" %>
      </td>
      <td>
      </td>
    </tr>
    <% song.song_versions.each do |song_version| %>
    <tr>
      <td>
        <%= song_version.user == current_user ? "me" : "#{song_version.user.name}" %>
      </td>
      <td>
        <% if can? :edit, song_version %>
          <%= link_to song_version.title, edit_song_version_path(song_version), 
              :class=>"btn-block", :style => "font-weight:bold" %> 
        <% else %>
          <%= song_version.title %>
        <% end %>
          
        <% #current_user.friends.each do |friend| %>
        <%= #link_to "share version with #{friend.name}", 
            #share_song_version_path(song_version, :user => friend),
            #:method => :post
        %>
        <% #end %>
      </td>
      <td>
        <%= time_ago_in_words song_version.updated_at %> ago
      </td>
      <td>
        <%= song_version.created_at.strftime "%Y-%m-%d at %H:%M" %>
      </td>
      <td>
        <%= link_to song_version, :class => "btn btn-small",
            :data => { :confirm => "Are you sure ?" }, :method => :delete do %>
        <i class="icon-trash"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  <% end %>
</ul>
