<%= form_for @song_version do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :bpm %>
  <%= f.text_field :bpm, :value => "120.0" %>
  <br />
  <button type="sumbit" class="btn btn-primary">Create song</button>
<% end %>
