<div class="container">
  <%= form_for @song_version do |f| %>
  <legend>Create a new song version</legend>
  <%= f.label :title %>
  <%= f.text_field :title %>
  
  <%= f.label :bpm %>
  <%= f.text_field :bpm, :value => "120.0" %>
  <%= f.hidden_field :song_id%>
  <br />
  <button type="sumbit" class="btn btn-primary">Create song</button>
  <% end %>
</div>
